@charset "@UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "Android";
  src: url("../fontes/idroid.otf") format("opentype");
  font-weight: normal;
}

:root {
  --cor00: #c5ebd6;
  --cor01: #83e1ad;
  --cor02: #3ddc84;
  --cor03: #2fa866;
  --cor04: #1a5c37;
  --cor05: #063d1e;

  --fonte-padrao: Arial, verdana, helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
  --fonte-android: "Android", cursive;
}

* {
  /* * --> configurações globais*/
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor00);
  font-family: var(--fonte-padrao);
}

header {
  padding-top: 40px;
  text-align: center;
  min-height: 150px;
  background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
}

header > p {
  font-size: 1.2em;
  font-family: var(--fonte-padrao);
  max-width: 500px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
}

header > h1 {
  font-weight: normal;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.418);
  font-size: 3em;
  color: white;
  font-family: var(--fonte-destaque);
  margin-bottom: 20px;
}

nav {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
  background-color: var(--cor05);
  padding: 10px;
}

nav > a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav > a:hover {
  color: var(--cor05);
  background-image: radial-gradient(var(--cor01), var(--cor03));
  border-radius: 17px;
}

main {
  padding: 20px;
  min-width: 300px;
  margin: auto;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 40px;
}

main p {
  margin: 20px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 1.3em;
}

main strong {
  font-weight: bold;
  color: var(--cor04);
}

main a {
  color: var(--cor01);
  font-weight: bold;
  font-size: 1.12em;
}

main a:hover {
  color: var(--cor04);
}

main img {
  width: 100%;
}

main img.pequena {
  max-width: 380px;
  display: block;
  margin: auto;
}

main h1 {
  color: var(--cor05);
  font-family: var(--fonte-android);
}

main h2 {
  text-indent: 10px;
  background-image: linear-gradient(to right, var(--cor01), transparent);
  color: var(--cor04);
  font-family: var(--fonte-android);
  font-size: 1.3em;
  padding-top: 3px;
  padding-bottom: 3px;
}

div.video{
    padding: 20px;
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--cor01);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.274);
}

aside > h3 {
  padding: 10px;
  background-color: var(--cor04);
  color: rgb(250, 250, 250);
  margin: -10px -10px 0px -10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

aside > ul {
  list-style-position: inside;
  columns: 2;
}

aside a {
  color: #063d1e;
}

aside a:hover {
  color: rgb(250, 250, 250);
}

footer {
  padding: 8px;
  background-color: var(--cor05);
  color: white;
  text-align: center;
}

footer a {
  color: #83e1ad;
}

footer a:hover {
  color: var(--cor03);
}
